[alias]
	branch-name = rev-parse --abbrev-ref HEAD
	publish = "!git push -u origin $(git branch-name)"
	recent = "!r(){ git for-each-ref --sort=-committerdate refs/heads --color=always --format='%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)'|column -ts'|';}; r"
	recent2 = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:red)%(objectname:short)%(color:reset) %(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[core]
	excludesfile = ~/.myconfig/.gitignore_global
[user]
	name = Karl Bartel
	email = mail@karl.berlin
[push]
	default = simple
[init]
	templatedir = ~/.myconfig/.git_template
[rebase]
	autosquash = true
